{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Serviço anotado !!!</h1>
    <h2>Vamos lhe avisar quando estiver pronto.</h2>
    <div class="u-align-center u-form-group u-form-submit u-label-top u-form-group-3">
                     
      <a href="{{ zap }}" id="whatsapp-btn" class="u-active-palette-3-light-2 u-border-none u-btn u-btn-submit u-button-style u-custom-font u-font-open-sans u-grey-90 u-hover-palette-3-light-2 u-btn-1">Enviar </a> 
    </div>

    <!--<script>
      document.getElementById("whatsapp-btn").addEventListener("click", function() {
        window.open("https://wa.me/559992010132?text=Quando%20estiver%20pronto%20me%20avise!", "_blank");
      });
    </script>-->
  </body>
</html>

