<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Serviço anotado !!!</h1>
    <h2>Vamos lhe avisar quando estiver pronto.</h2>
    <p>
        {{ zap }}
    </p>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var link = "{{ zap }}";
            var a = document.createElement('a');
            a.href = link;
            a.target = "_blank";
            document.body.appendChild(a);
            a.click();
        });
    </script>
</body>
</html>

